#navbar .navbar {
    border-bottom-width: 0 !important;

    img.logo {
        max-height: 100%;
    }

    .navbar-header a.navbar-brand {
        margin-left: auto;
        margin-right: auto;
    }

    .navbar-brand {
        padding: 0;
    }

    .navbar-right {
        margin-right: -2px !important;

        > li > a {
            text-align: center;
        }
    }

    .navbar-form.global-search-container {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (min-width: @screen-sm-min) {
    #navbar .navbar {
        .navbar-body {
            -webkit-overflow-scrolling: unset;
        }
    }
}

@media screen and (max-width: (@screen-sm-min - 1px)) {
    #navbar .navbar {
        .navbar-form.global-search-container {
            padding-left: 8px;
            padding-right: 8px;
        }

        .navbar-form.global-search-container > .input-group {
            margin-left: 14px;
        }

        .navbar-right {
            > li {
                display: inline-block;
            }

            > li.notifications-badge-container {
                display: inline-block;
                float: right;
            }
        }

        .navbar-collapse {
            overflow-x: hidden !important;
        }
    }
}

.text-soft {
    color: @gray-soft;
}

.btn {
    border-radius: @button-radius;
}

.panel-body {
    padding: @panel-padding;
    .clearfix();
}

blockquote {
    font-size: @font-size-base;
    border-left-width: 3px;
}

.pagination-sm > li > a {
    line-height: @line-height-small;
}

.preset {
    text-overflow: ellipsis;
    overflow: hidden !important;
}

.preset > div{
    padding-right: 20px;
}

.modal-container.overlaid .modal-content {
    .box-shadow(none);
}


.modal-header {
    padding: @modal-title-padding @panel-padding;
    border-bottom: 0 solid @modal-header-border-color;
    min-height: (@modal-title-padding + @modal-title-line-height);
}

.modal-header .close {
    font-size: 31px;
    font-weight: normal;
    margin-top: -4px;
    max-height: @font-size-h3;
    > span {
        position: relative;
        max-height: @font-size-h3;
        height: @font-size-h3;
        display: inline-block;
    }
}

.modal-footer {
    margin-top: @modal-title-padding;
    padding: @panel-padding @panel-padding @panel-padding;
}

.modal-footer > .main-btn-group {
    float: right;
}

.modal-footer > .additional-btn-group {
    float: left;
}

.modal-dialog > .modal-content {
    background-clip: border-box;
    border-color: @default-border-color;
    border-width: 0;
}

.table thead > tr > th {
    border-bottom: 1px solid @table-border-color;
    font-weight: normal;
}

.form-group.hidden-cell {
    margin-bottom: 0;
}

.hidden-cell div.field {
    display: none !important;
}

.hidden-cell label.control-label {
    display: none !important;
}

.hidden-cell .inline-edit-link {
    display: none !important;
}

.panel-group .panel + .panel {
    margin-top: 4px;
}

.alert {
    padding: 5px 18px;
}

label {
    margin-bottom: 3px;
}

.table {
    margin-bottom: 10px;
}

.page-header {
  margin: 10px 0;
  border-bottom: 0;
  padding-bottom: 2px;
  min-height: 33px;
}

.page-header > .row {
    min-height: 33px;
}

.modal-header {
    background-color: @default-heading-bg-color;
}

div.list-expanded > ul > li > div.expanded-row > .cell {
    padding-left: 6px;
    padding-right: 3px;
    border-left: 1px solid @default-border-color;
}

div.list-expanded > ul > li > div.expanded-row > .cell:first-child {
    padding-left: 0;
    border-left: 0;
}

.list > table.table td > span.list-icon-container.pull-right {
    margin-left: 5px;
}

.list > table.table td > span.list-icon-container.pull-left {
    margin-right: 5px;
}

.list > ul.list-group > li.list-row .cell > span.glyphicon.pull-right {
    margin-left: 5px;
    margin-top: 4px;
}

div.list-kanban > div > table {
    width: 100%;
    table-layout: fixed;

    th {
        font-weight: normal;

        color: @white-color;
        background-color: @gray-light;

        position: relative;
        padding: 0px;
        margin: 0px;

        overflow: hidden;

        > div {
            padding-left: @table-cell-padding;
            position:relative;
            line-height: 28px;
            height: 100%;
            width: 100%;
        }

        > div:before,
        > div:after {
            content:" ";
            display: inline-block;
            border-width: 18px;
            border-style: solid;
            width: 0px;
            height: 0px;
            position: absolute;
            margin-top: -4px;
        }

        > div:after {
            left: ~"calc(100% - 10px)";
            z-index: 1;
            border-color: transparent transparent transparent @white-color;
        }

        > div:before {
            left: ~"calc(100% - 12px)";
            z-index: 2;
            border-color: transparent transparent transparent @gray-light;
        }
    }

    th:last-child {
        > div:before,
        > div:after {
            border-color: transparent transparent transparent transparent !important;
        }
    }

    td.group-column {
        vertical-align: top;

        padding-top: @padding-base-horizontal;

        .show-more a {
            margin: 0 auto;
            display: block;
            height: 20px;

            > span {
                top: -4px;
                color: @text-muted;
                position: relative;
            }
        }

        .group-column-list {
            min-height: 200px;
        }
    }

    .item {
        .panel {
            .form-group {
                margin-bottom: 3px;
                .field-right-align {
                    text-align: right;
                }

                .field {
                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    font-size: @font-size-base;
                }
                .field.field-large {
                    font-size: @font-size-large;
                    color: @gray;
                }
            }
            div:last-child > .form-group {
                margin-bottom: 0;
            }

            .panel-body {
                padding: @table-cell-padding;
            }

            .item-menu-container {
                margin-top: -10px;
                margin-right: -10px;
            }

            margin-bottom: 0;
        }

        margin-bottom: @padding-base-horizontal;
    }

    .item.ui-sortable-helper {
        cursor: move;
    }
}

.list-kanban {
    > .kanban-columns-container {
        margin-left: -@padding-base-horizontal;
        margin-right: -@padding-base-horizontal;
        > table {
            border-collapse: separate;
            border-spacing: @padding-base-horizontal 0;
        }

    }

    .kanban-head-paceholder {
        height: 28px;
    }

    .kanban-head-container.sticked {
        position: fixed;
        top: 0;
        margin-top: @tob-bar-height;
        z-index: 4;
    }
}


@supports (display: grid) {
    div.list-kanban > div.kanban-columns-container,
    div.list-kanban > div.kanban-head-container {
        margin-left: 0 !important;
        margin-right: 0 !important;
        > table {
            display: block !important;
            border-collapse: unset;
            border-spacing: unset;
            > tbody,
            > thead {
                display: block !important;
                tr.kanban-row {
                    tbody, thead, td, th {
                        display: block !important;
                    }
                    display: grid !important;
                    grid-column-gap: @padding-base-horizontal;
                    grid-auto-columns: 1fr;
                    > td, th {
                        grid-row: 1;
                    }
                }
            }

        }
    }
    div.list-kanban > div.kanban-head-container {
        background-color: @gray-light;
        > table {
            > thead {
                tr.kanban-row {
                    overflow: hidden;
                    > th {
                        overflow: visible;
                        min-width: 0;
                        max-height: 28px;
                        .kanban-group-label {
                            display: inline-block;
                            max-width: ~"calc(100% - 15px)";
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }
}


table.table > thead th > a {
    color: @gray-light;
}

table.table > thead th {
    color: @gray-light;
}

.cell label,
.filter label {
    color: @gray-light;
    font-weight: normal;
}

.cell > label,
.filter label {
    margin-bottom: 2px;
}

.filter .selectize-input {
    min-height: 30px;
}

.btn.active {
    .box-shadow(none);
}




#login.panel .panel-heading {
    border-bottom-width: 0;
}

#login .logo-container {
    width: @logo-width;
    height: @logo-height;
}

#login .logo-container img.logo {
    max-height: 100%;
    max-width: 100%;
}

#global-search-input {
    width: 145px;
    margin-top: 1px;
    padding-right: 10px;
}

.progress.pre-loading {
    margin-top: -50px;
    margin-bottom: 31px;
}

.edit form {
    margin: 0;
}

.button-container {
    padding: 0 0 10px;
}

.margin {
    margin: @table-cell-padding 0;
}

.margin-top {
    margin-top: @table-cell-padding;
}

.margin-bottom {
    margin-bottom: @table-cell-padding;
}

.margin-bottom.margin {
    margin-top: 0;
}

.margin.list-group-item:first-child {
    margin-top: 0;
}

.btn.dropdown-toggle > span.fa-ellipsis-h {
    top: 1px;
    position: relative;
}

.btn.dropdown-toggle > span.caret.wide {
    margin-left: 2px;
    margin-right: 2px;
}

ul.dropdown-menu > li.checkbox {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding: 3px 0 3px 20px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul.dropdown-menu {
    li.divider + li.divider {
        display: none;
    }
}

.dropdown-menu > li > a {
    line-height: @line-height-computed;
}

ul.dropdown-menu > li > a.active {
    background-color: @gray-lighter;
    text-decoration: none;
    outline: 0;
}

ul.dropdown-menu > li.checkbox:last-child {
    margin-bottom: 3px;
}

.page-header h3 {
    margin-top: 0px;
    margin-bottom: 8px;
}

.page-header .breadcrumb-separator {
    padding: 0 6px;
}

.modal-header.fixed-height {
    height: 40px;
    max-height: 40px;
    overflow: hidden;

    .modal-title {
        width: ~"calc(100% - 20px)";
        > .modal-title-text {
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
        }
    }
}

.modal-header a {
    color: @text-color;
}

.list-buttons-container .sticked-bar {
    position: fixed;
    background-color: @body-bg;
    z-index: 1000;
}

.modal-dialog .modal-body .list-buttons-container .sticked-bar {
    top: 94px !important;
    width: 100% !important;
    right: 0 !important;
    left: unset;
}

.list-buttons-container > .actions {
    min-height: 33px;
}

.list-buttons-container > div.total-count {
    margin-right: 0px;
    float: right;
    padding: 7px 0;
}

.list-container .pagination {
    margin: 0;
}

.floated-row > div  {
    float: left;
    margin-right: @panel-padding;
}

.search-row {
    margin-left: -3px !important;
    margin-right: -3px !important;
}

.search-row > div {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.cell > .field {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.field .row {
    margin-left: -3px !important;
    margin-right: -3px !important;
}

.field .row > div {
    padding-left: 3px !important;
    padding-right: 3px !important;
    float: left;
}

.field .form-control, .field .btn {
    margin-bottom: 3px;
}

.field .input-group .form-control, .field .input-group .btn {
    margin-bottom: 0;
}

.field .input-group {
    margin-bottom: 3px;
}

.field .link-container {
    margin-bottom: 0;
}

.list-group-item {
    margin-bottom: 0;
    border-top-width: 0;
}

.list-group-item:first-child {
    border-top-width: 1px;
}

.list-group-item.ui-sortable-helper {
    border-top-width: 1px !important;
    border-bottom-width: 1px !important;
    border-left-width: 1px !important;
    border-right-width: 1px !important;
}

.panel > .panel-body.panel-body-form {
    padding-bottom: @panel-padding - @form-group-margin-bottom;
}

.list-group-item {
    background-color: transparent;
}

.panel-body .field > .link-container > .list-group-item {
    background-color: @panel-bg;
}

.panel-body .list-group-item {
    background-color: @panel-bg;
}

.field .link-container .list-group-item:last-child {
    border-bottom-width: 0;
}

.field .link-container .list-group-item > div {
    margin: -3px 0 -3px;
}

.field .link-container .list-group-item > div > div {
    margin: 6px 0;
}

.field .link-container .list-group-item .form-control,
.field .link-container .list-group-item .btn {
    margin-top: 0;
    margin-bottom: 0;
}

.field .link-container .link-group-item-with-columns > div > .btn-group {
    margin-top: 0;
    margin-bottom: 0;
    .caret {
        border-top-color: @gray-light;
    }
}

.filter > .form-group .field {
    .link-container {
        font-size: @font-size-small;
        .fa-times {
            font-size: 12px;
        }
    }
    .input-group {
        input {
            font-size: @font-size-small;
            height: @input-height-small;
        }
        button.btn {
            font-size: @font-size-small;
            height: @input-height-small;
        }
    }
}

.filter .field .link-container .list-group-item a {
    margin-top: 1px;
}

.field .link-container .list-group-item a {
    margin-top: 1px;
}

.field .link-container > .list-group-item.link-with-role > a,
.field .link-container > .list-group-item.link-with-role > div > a {
    margin-top: 6px;
}

.field .link-container > .list-group-item.link-group-item-with-columns,
.field .link-container > .list-group-item.link-group-item-with-primary {
    > div:nth-child(1) {
        display: inline-block;
        width: calc(~"100% - 23px");
        float: left;
        > input.form-control {
            width: 40%;
        }
    }
    > div:nth-child(2) {
        display: inline-block;
        width: 23px;
        float: right;
        vertical-align: top;
    }
}

ul.dropdown-menu > li > a > .check-icon + div {
    padding-right: 20px;
}

.detail-field-container {
    padding: 7px 0;
}

#login.panel > .panel-heading {
    background-color: @login-panel-heading-bg;
    padding: 0;
    margin: -2px;
}

@media screen and (max-width: (@screen-sm-min - 1px)) {
    .modal-dialog {
        margin: 0 0;
    }
    .modal-dialog .image-container {
        margin-left: -@panel-padding;
        margin-right: -@panel-padding;
    }
}

@media screen and (min-width: @screen-sm-min) {
    .modal-dialog {
        width: 740px;
    }
}

@media screen and (min-width: @screen-md-min) {
    .modal-dialog {
        width: 900px;
    }
    .dialog-confirm > .modal-dialog {
        width: 550px;
    }
}

.dialog-confirm > .modal-dialog > .modal-content {
    text-align: center;
}

table.table > tbody td > .list-row-buttons button {
    position: relative;
    margin-top: 2px;
}

.list-row-buttons span.caret {
    border-top-color: @gray-light;
}

.list > table {
    margin-bottom: 0;
}

.list > ul {
    margin-bottom: 0;
}

.list > table td input[type="checkbox"],
.list > table th input[type="checkbox"] {
    margin: 0;
    position: relative;
    top: 2px;
}

.list > table th input[type="checkbox"] {
    margin: 0;
    position: relative;
    top: 2px !important;
}

.list > table th span.caret {
    border-top-color: @gray-light;
}
.list > table th span.caret-up {
    border-bottom-color: @gray-light;
}

.filter a.remove-filter {
    display: none;
}
.filter:hover a.remove-filter {
    display: block;
}

select[multiple].input-sm {
    height: 90px !important;
}

.input-group-btn > select.form-control {
    position: relative;
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-right: -1px;
}

.input-group-btn:last-child > select.form-control {
    margin-right: 0;
    margin-left: -1px;
}

.input-group > .middle-element {
    margin-left: 0 !important;
}

.input-group .form-control:focus {
    z-index: 3;
}

.panel-body,
section {
    > p:first-child,
    > h1:first-child,
    > h2:first-child,
    > h3:first-child,
    > h4:first-child,
    > h5:first-child {
        margin-top: 0;
    }

    > p:last-child,
    ul,
    li,
    .table {
        margin-bottom: 0;
    }
}

.well > p:last-child {
    margin-bottom: 0;
}

.panel-body > div > .list-expanded {
    margin-left: -@panel-padding;
    margin-right: -@panel-padding;
}
.panel-body > div > .list {
    margin-left: -@panel-padding;
    margin-right: -@panel-padding;
}
.panel-body > div > .list > table td:first-child,
.panel-body > div > .list > table th:first-child {
    padding-left: @panel-padding;
}
.panel-body > div > .list > table td:last-child,
.panel-body > div > .list > table th:last-child {
    padding-right: @panel-padding;
}

.modal-body > div > .list {
    margin-left: -@panel-padding;
    margin-right: -@panel-padding;
}
.modal-body > div > .list > table td:first-child,
.modal-body > div > .list > table th:first-child {
     padding-left: @panel-padding;
}
.modal-body > div > .list > table td:last-child,
.modal-body > div > .list > table th:last-child {
    padding-right: @panel-padding;
}

#main > .list-container > .list {
    margin-left: -@container-padding;
    margin-right: -@container-padding;
}
#main > .list-container > .list > table td:first-child,
#main > .list-container > .list > table th:first-child {
    padding-left: @container-padding;
}
#main > .list-container > .list > table td:last-child,
#main > .list-container > .list > table th:last-child {
    padding-right: @container-padding;
}

.panel-body > .no-margin {
    margin: -@panel-padding;
}

.panel-body .no-side-margin {
    margin-left: -@panel-padding;
    margin-right: -@panel-padding;

    > table td:first-child,
    > table th:first-child {
        padding-left: @panel-padding;
    }

    > table td:last-child,
    > table th:last-child {
        padding-right: @panel-padding;
    }

    > .list-group-item {
        border-left-width: 0;
        border-right-width: 0;
    }

    > .table-bordered {
        border-left: 0;
        border-right: 0;

        td:last-child,
        th:last-child {
            border-right: 0;
        }

        td:first-child,
        th:first-child {
            border-left: 0;
        }
    }
}

.panel-body .no-bottom-margin {
    margin-bottom: -@panel-padding !important;
}

.table.less-padding > thead > tr > th,
.table.less-padding > tbody >tr > th,
.table.less-padding > tfoot >tr > th,
.table.less-padding > thead >tr > td,
.table.less-padding > tbody >tr > td,
.table.less-padding > tfoot >tr > td {
    padding: @table-cell-padding @table-cell-less-padding @table-cell-padding @table-cell-less-padding;
}

.panel > .panel-body > .list-container > .list > .list-group {
    > .list-group-item {
        border-width: 0;
        border-bottom-width: 1px;
    }
    > li.list-group-item:first-child {
        border-top-width: 1px;
    }
    > li.list-group-item:last-child {
        border-bottom-width: 0;
    }
}

.record {
    .panel-warning {
        > .panel-heading {
            background-color: @state-warning-border;
            .btn-warning {
                color: @panel-warning-text;
                background-color: @state-warning-border;
                border-color: @state-warning-border;
            }
        }
    }
    .panel-danger {
        > .panel-heading {
            background-color: @state-danger-border;
            .btn-danger {
                color: @panel-danger-text;
                background-color: @state-danger-border;
                border-color: @state-danger-border;
            }
        }
    }
    .panel-info {
        border-color: @state-info-bg;
        > .panel-heading {
            color: @panel-info-text;
            background-color: @state-info-bg;
            .btn-info {
                color: @panel-info-text;
                background-color: @state-info-bg;
                border-color: @state-info-bg;
            }
        }
    }
    .panel-success {
        > .panel-heading {
            background-color: @state-success-border;
            .btn-success {
                color: @panel-success-text;
                background-color: @state-success-border;
                border-color: @state-success-border;
            }
        }
    }
}

table.no-margin {
    margin-bottom: 0;
}

.list-expanded > .show-more {
    padding: 0px;
    margin-top: -1px;
}

.list-expanded > li.show-more > .btn {
    margin-left: -1px;
    margin-right: -4px;
}

.list-expanded > ul > li .list-row-buttons {
    margin-right: -12px;
    margin-top: -10px;
}

.show-more > .btn {
    border-radius: 0;
    border-width: 0;
    border-color: #e0e0e0;
}

.panel-body > .list-container > .list > div.show-more,
.list.no-bottom-margin > div.show-more {
    display: inline-block;
    width: 100%;
}

.panel-body > div:first-child > .list-expanded:first-child {
    margin-top: -@panel-padding;
}
.panel-body > div:last-child > .list-expanded:last-child {
    margin-bottom: -@panel-padding;
}

.panel-body > div:first-child > .list:first-child {
    margin-top: -@panel-padding;
}
.panel-body > div:last-child > .list:last-child {
    margin-bottom: -@panel-padding;
}

.expanded-row {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.expanded-row .cell .complex-text {
    white-space: normal;
    overflow: hidden;
}

.expanded-row .cell {
    display: inline;
}

.notification-list .expanded-row > .cell[data-name="data"],
#notifications-panel .expanded-row > .cell[data-name="data"] {
    padding-left: 0;
    padding-right: 0;
}

#notifications-panel .expanded-row {
    white-space: normal;
    overflow: hidden;
}

#notifications-panel .right {
    padding-top: 5px;
}

.caret-up {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 4px solid #000;
    border-right: 4px solid transparent;
    border-top: 0 dotted;
    border-left: 4px solid transparent;
    content: "";
}

.list > table {
    table-layout: fixed;
}

.list > table td,
table.list th {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.list > table td[data-name="r-checkbox"] {
    overflow: visible;
}

.list > table th[data-name="r-checkbox"] {
    white-space: nowrap;
    .select-all-container {
        line-height: @line-height-computed;
        height: @line-height-computed;
        float: left;
    }
}

.list .checkbox-dropdown {
    margin-left: 3px;
    top: -1px;
}

.list .checkbox-dropdown > a {
    padding: 0;
    line-height: 1;
}

.list .record-checkbox-container {
    height: @line-height-computed;
    display: block;
}

.list > table td > div.field {
    white-space: normal;
}

.list > table td.cell[data-name="buttons"] {
    overflow: visible;
}

td.cell[data-name="buttons"] > .btn-group {
    margin-top: -8px;
    margin-bottom: -8px;
    margin-right: -10px;
}

table.less-padding td.cell[data-name="buttons"] > .btn-group {
    margin-right: -13px;
}

.panel > .panel-heading > .btn-group > .btn {
    color: @gray-soft;
}

.dashboard-header .dashboard-buttons {
    margin-left: 10px;
}

.panel.dashlet > .panel-heading > .btn-group {
    margin-top: -7px;
    top: 0;
    right: -10px;
}

.panel.dashlet > .panel-heading > .panel-title {
    cursor: default;
}

.panel.dashlet > .panel-heading > .btn-group > .btn + .dropdown-toggle {
    padding-left: @padding-small-horizontal;
    padding-right: @padding-small-horizontal;
}

.panel > .panel-heading > .btn-group > .btn + .dropdown-toggle {
    padding-left: @padding-small-horizontal;
    padding-right: @padding-small-horizontal;
}

.panel.dashlet {
    height: inherit;
}
.dashlet-container {
    overflow-y: hidden;
}

.panel.dashlet > .panel-body {
    overflow-y: auto;
    overflow-x: hidden;
}

.dashlets.grid-stack {
    .panel.dashlet {
        margin-bottom: 0;
    }

    .grid-stack-item {
        .dashlet {
            height: 100%;
            .dashlet-body {
                height: ~"calc(100% - 29px)";
            }
        }
        .grid-stack-item-content {
            overflow-x: visible;
            overflow-y: visible;
        }
    }

    .ui-resizable-handle:before {
        content: '' !important;
    }
    > .grid-stack-item > .ui-resizable-se,
    > .grid-stack-item > .ui-resizable-sw {
        background-image: none;
    }
}

.grid-stack.grid-stack-4 {
    .grid-stack-item[data-gs-width="4"]  { width: 100% }
    .grid-stack-item[data-gs-width="3"]  { width: 75% }
    .grid-stack-item[data-gs-width="2"]  { width: 50% }
    .grid-stack-item[data-gs-width="1"]  { width: 25% }

    .grid-stack-item[data-gs-x="3"]  { left: 75% }
    .grid-stack-item[data-gs-x="2"]  { left: 50% }
    .grid-stack-item[data-gs-x="1"]  { left: 25% }
}

.panel-heading > .btn-group {
    top: -7px;
    right: -11px;
}

.list-container + .button-container,
.row-list-container + .button-container {
    margin-top: 10px;
    padding-bottom: 0;
}

.list-expanded > li > .right > .btn-group {
    top: -7px;
    right: -11px;
}

.panel.note-editor {
    border: 1px solid @input-border;
    border-width: 1px;
}

.note-editor .note-toolbar {
    border-bottom: 0 !important;
    background-color: transparent;
}

.note-editor .panel-heading {
    padding: 0px 5px 2px 5px;
}

.note-editor .panel-heading > .btn-group {
    right: 0;
    top: 0;
}

.panel-body.no-padding {
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
}

.panel {
    border-width: @panel-border-width;
}

.panel-heading > .btn-group > .btn {
    border-radius: 0 !important;
}

.list > table thead > th {
    border-top-width: 1px !important;
}

.show-more > .btn-block {
    text-align: left;
    padding-left: @panel-padding;
}

.autocomplete-suggestions {
    border: 1px solid @input-border;
    background: @white-color;
    cursor: default;
    overflow: auto;
    .box-shadow(0 6px 12px rgba(0,0,0,.175));
}
.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}
.autocomplete-selected {
    background: @main-gray;
}
.autocomplete-suggestions strong {
    font-weight: normal; color: @brand-primary;
}

label.attach-file-label {
    overflow: hidden;
    width: 50px;
    cursor: pointer;
    margin-bottom: 0;

    > span.btn {
        cursor: pointer;
        margin-bottom: 0;
    }

    > input.file {
        opacity: 0;
        width: 1px;
    }
}

.attachment-upload > .attachment-control > .dropdown > .btn {
    margin-bottom: 0;
}

.attachment-upload > .attachments > div:first-child {
    margin-top: 2px;
}

.gray-box {
    background-color: @gray-lighter;
    margin: 0 5px 3px 0;
    padding: 2px 3px 2px 5px;

    display: inline-block;
    width: 100%;
    max-width: 300px;
}

.gray-box .preview {
    overflow: hidden;
    overflow-wrap: break-word;
}

.attachment-preview {
    display: inline-block;
    vertical-align: top;
    margin: 3px 6px 3px 0;
}

.field > .attachment-preview {
    overflow: hidden;
}

.attachment-block {
    display: block;
    vertical-align: top;
}

.stick-sub {
    position: fixed;
    top: 0;
    margin: @navbar-height 0 0 -@container-padding;
    z-index: 4;
}

.stick-sub.button-container {
    background-color: @body-bg;
    padding: 3px @container-padding 0 @container-padding;
    width: 100%;
}

@media screen and (max-width: (@screen-sm-min - 1px)) {
    .stick-sub {
        margin-top: 0;
    }
}

@font-face {
     font-family: Open Sans;
     src: url('../../fonts/open-sans-regular.eot?') format('eot'),
          url('../../fonts/open-sans-regular.woff') format('woff'),
          url('../../fonts/open-sans-regular.ttf')  format('truetype'),
          url('../../fonts/open-sans-regular.svg#svgFontName') format('svg');
}

.notifications-badge-container > .notifications-button > .number-badge {
    position: absolute;
    z-index: 10;
    font-size: 9px;
    padding: 2px 5px;
    display: inline-block;
    top: 7px;
    left: 27px;
    background-color: @brand-warning;
    color: @white-color;
}

.badge-circle {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    text-align: center;
    display: table-cell;
    font-size: 5px;
    line-height: 8px;
    text-align: center;
    background-color: @main-gray;
}

.badge-circle.badge-circle-danger {
    background-color: @brand-danger;
}
.badge-circle.badge-circle-warning {
    background-color: @brand-warning;
}

.danger.glyphicon {
    color: @brand-danger;
}

.warning.glyphicon {
    color: @brand-warning;
}

.icon-rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.icon-rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.icon-flip-horizontal {
   -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
}

.post-container > textarea.note,
textarea.auto-height {
    overflow-x: hidden;
}

body > footer {
    background-color: @gray-lighter;
}


body > footer > p {
    padding: 6px @panel-padding;
}
body > footer > p.credit {
    margin: 0;
}
body > footer > p,
body > footer > p a,
body > footer > p a:hover,
body > footer > p a:active,
body > footer > p a:visited {
    color: @gray;
}

#global-search-panel > .panel > .panel-body {
    max-height: @navbar-panel-body-max-height;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: @panel-padding;
}

#notifications-panel > .panel > .panel-body {
    max-height: @navbar-panel-body-max-height;
    overflow-y: auto;
    overflow-x: hidden;
}

#header .tab span.color-icon {
    left: 0;
    font-size: 75%;
    top: -2px;
}

.header-breadcrumbs .color-icon {
    font-size: 44%;
    left: 0px;
    margin-right: 2px;
    top: -4px;
    position: relative;
}

span.color-icon {
    font-size: 50%;
    top: -2px;
    left: 1px;
    margin-right: 1px;
    display: inline;
    position: relative;
}

.message > span.color-icon,
.field span.color-icon {

}

#global-search-panel .panel-body .cell > .color-icon {
    margin-right: 5px;
}

h4.panel-title span.color-icon {
    font-size: 50%;
    left: 0px;
    position: relative;
    margin-right: 2px;
    top: -2px;
}

@media screen and (max-width: (@screen-sm-min - 1px)) {
    .list {
        width: auto;
        overflow-y: hidden;
        overflow-x: scroll;
    }
    .list.list-expanded {
        width: auto;
        overflow-x: hidden;
    }
    .list > table {
        min-width: @screen-sm-min;
    }
}


.modal.in .modal.in {
    overflow: visible !important;
    overflow-y: visible !important;
}

.record .middle > .panel:first-child {
    border-top-width: @panel-border-width;
}

.record .middle {
    margin-bottom: @line-height-computed;
}

.record .middle > .panel {
    border-top-width: 0;
    > .panel-heading {
        .btn-group {
            top: -6px;
            .btn {
                border-top-width: 0;
            }
        }
    }
    margin-bottom: 0;
}

.panel.sticked,
.panel.sticked {
    margin-top: -1 * @line-height-computed;
    border-top-width: 0;
    > .panel-heading {
        .btn-group {
            top: -6px;
            .btn {
                border-top-width: 0;
            }
        }
    }
}

.label {
    padding: .09em .5em .2em;
}

.expanded-row {
    span.label {
        position: relative;
        top: -2px;
    }
}

.stream-head-text-container {
    span.label {
        position: relative;
        top: -1px;
    }
}

.stream-head-container {
    padding-bottom: 3px;
}

.stream-head-text-container {
    padding-left: 26px;
}

.stream-head-container > img.avatar {
    display: inline-block;
    margin-top: -3px;
    margin-right: 3px;
    margin-bottom: -2px;
}

.stream-head-container .internal-badge {
    position: absolute; top: 32px; left: 19px;
}

.stream-head-container .internal-badge > span {
    color: @brand-danger;
}

img.avatar.avatar-link {
    display: inline-block;
    margin-top: -2px;
    margin-right: 3px;
}

stream-head-text-container .span {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.stream-post-container .cell-post {
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.stream-post-container,
.stream-attachments-container,
.stream-details-container,
.stream-subject-container,
{
    padding: 2px 0 5px 26px;
}

.link-container .list-group-item {
    padding: @padding-base-vertical @padding-base-horizontal;
    line-height: @line-height-computed;
}

.note-editable blockquote {
    font-size: @font-size-base;
}

.legend-container {
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 7px;
}

.legend-container table td {
    padding: 2px 2px;
    line-height: 1em;
}

.flotr-mouse-value {
    cursor: default;
    font-size: 0.9em;
}

.flotr-grid-label-y {
    min-height: 1.2em;
    line-height: 1.1em;
    max-height: 2.1em;
    overflow: hidden;
}

.flotr-grid-label-x {
    min-height: 1.2em;
    max-height: 2.1em;
    line-height: 1.1em;
    overflow: hidden;
    padding: 0 1px;
}

.legend-container td.flotr-legend-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.legend-container td.flotr-legend-label > span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.3em;
    max-height: 15px;
}

.legend-container .flotr-legend-color-box > div {
    position: relative;
    top: 1px;
}

.legend-container .flotr-legend-color-box > div > div > div {
    position: relative;
    top: -2px;
    left: -2px;
}

.textcomplete-item a {
    cursor: default;
}

.complex-text a {
    word-wrap: break-word;
}

table.table td.cell .complex-text {
    word-wrap: break-word;
    white-space: normal;
}

.complex-text {
    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child,
    p:first-child,
    ul:first-child,
    ol:first-child,
    pre:first-child,
    blockquote:first-child {
        margin-top: 0 !important;
    }
    h1 {
        font-weight: bold;
        margin-top: @line-height-computed;
        margin-bottom: (@line-height-computed / 2);
    }
    h2, h3 {
        font-weight: bold;
        margin-top: (@line-height-computed / 2);
        margin-bottom: (@line-height-computed / 2);
    }
    h4, h5, h6 {
        font-weight: normal;
        margin-top: (@line-height-computed / 2);
        margin-bottom: (@line-height-computed / 2);
    }
    h1 {
        font-size: floor(@font-size-base * 1.1);
    }
    h2, h3, h4, h5, h6 {
        font-size: floor(@font-size-base);
    }

    p,
    ul,
    ol,
    pre,
    blockquote {
        margin-top: @line-height-computed / 2;
    }

    p:last-child,
    ul:last-child,
    ol:last-child,
    blockquote:last-child,
    pre:last-child {
        margin-bottom: 0;
    }

    ul > li {
        list-style-type: disc;
    }

    ul, ol {
        padding-left: 30px;
    }
}

.field > .html-container {
    h1:first-child,
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child,
    h6:first-child,
    > p:first-child,
    > ul:first-child,
    > ol:first-child,
    > pre:first-child,
    > blockquote:first-child {
        margin-top: 0;
    }

    > p:last-child,
    > ul:last-child,
    > ol:last-child,
    > pre:last-child,
    > blockquote:last-child,
    > table:last-child {
        margin-bottom: 0;
    }

    ul > li {
        list-style-type: disc;
    }

    ul, ol {
        padding-left: 30px;
    }

    p,
    ul,
    ol,
    pre,
    blockquote {
        margin-top: @line-height-computed / 2;
    }
}

#popup-notifications-container {
    overflow-y: auto;
    overflow-x: hidden;

    right: 0px;
    bottom: 0px;
    position: fixed;
    height: auto;
    z-index: 1000;

    float: right;
}

.popup-notification {
    width: 400px;
    padding: @panel-padding;
    background-color: @panel-bg;
    border: 2px solid @main-gray;
    margin-top: 10px;
}

.popup-notification a.close{
    margin-top: -8px;
    margin-right: -3px;
}

.popup-notification-default {
    border-color: @gray-light;
}

.popup-notification-danger {
    border-color: @brand-danger;
}

.popup-notification-warning {
    border-color: @brand-warning;
}

.popup-notification-primary {
    border-color: @brand-primary;
}

.popup-notification-success {
    border-color: @brand-success;
}

.popup-notification-info {
    border-color: @brand-info;
}

.popup-notification h4 {
    margin-top: 0px;
}

.popup-notification-default h4 {
    color: @gray-light;
}

.popup-notification-danger h4 {
    color: @brand-danger;
}

.popup-notification-warning h4 {
    color: @brand-warning;
}

.popup-notification-primary h4 {
    color: @brand-primary;
}

.popup-notification-success h4 {
    color: @brand-success;
}

.popup-notification .cell {
    margin-bottom: 5px;
}


@media screen and (max-width: (@screen-sm-min - 1px)) {
    #popup-notifications-container {
        width: 100%;
    }
    .popup-notification {
        width: auto;
    }
}

.list-group-tree {
    border: 0;
}
.list-group-tree > li {
    border: 0;
    padding: 0 0 0 @panel-padding;
}

.list-group-tree > li .cell {
    padding: 2px 0;
}

.list-group-tree {
    .fa-chevron-down,
    .fa-chevron-right,
    .empty-icon {
        display: inline-block;
        width: 12px;
    }
}

.list-group-side {
    border: 0;
}
.list-group-side > li {
    border: 0;
    padding: 5px 0 5px (@container-padding - 3px);
    margin-left: -(@container-padding);
    border-left: 3px solid transparent;
}

.list-group-side > li.selected {
    border-color: @brand-danger;
}

.list-group-side a:hover,
.list-group-side a:focus,
.list-group-tree a:hover,
.list-group-tree a:focus {
    text-decoration: none;
}

.list-group-side > li .cell {
    padding: 2px 0;
}

.list-group-side li.selected a.side-link,
.list-group-side li.selected a:hover.side-link,
.list-group-side li.selected a:active.side-link,
.list-group-side li.selected a:visited.side-link,
.list-group-side li.selected a:focus.side-link {
    color: @brand-danger;
    font-weight: bold;
}

.text-bold {
    font-weight: 800;
}

.email-address-create-dropdown .btn {
    position: relative;
    top: -1px;
    padding: 0 4px;
    margin: 0;
    margin-bottom: 0;
    border: 0;
    line-height: 1.4;
}

#main > .calendar-container {
    margin-top: 10px;

    .calendar-type-button-group {
        margin-left: 6px;
    }
}

#notifications-panel {
    position: absolute;
    width: 600px;
    z-index: 1001;
    right: 0;
    left: auto;
}

#global-search-panel {
    position: absolute;
    width: 540px;
    z-index: 1001;
    right: 0;
    left: auto;
}

h5 {
    font-weight: bold;
    margin-top: 9px;
    margin-bottom: 9px;
}

.post-container .internal-mode-switcher {
    color: @gray-light;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    top: 2px;
}

.post-container .internal-mode-switcher.enabled {
    color: @link-color;
}

.post-control .attachments {
    width: 270px;
}

.post-container .attachments {
    width: 270px;
}

.inline-cancel-link {
    margin-left: 8px;
}

.panel .item-container.ui-sortable-helper {
    background-color: @panel-bg;
}

.dynamic-logic-expression-container {
    div.item-list[data-level="0"] {
        margin-left: 0;
    }
    div.item-list {
        margin-left: 30px;
    }
    div.item-list > div {
        margin: 0 0 10px 0;
    }
    div.group-head {
        line-height: 33px;
    }
    .dynamic-logic-edit-item-row {
        > div {
            line-height: 33px;
        }
    }
    .group-operator:last-child {
        display: none;
    }
    .group-bottom[data-level="0"] {
        margin-left: 0;
    }
    .group-bottom {
        margin-left: 30px;
    }
}

.dynamic-logic-options {
    a.remove-option-list,
    a.add-option-list {
        line-height: 33px;
    }
    .option-list-item-header {
        margin-top: -10px;
    }

    .dynamic-logic-options-list-container {
        margin-bottom: 0;
    }
}

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child):not(.no-margin-shifting) {
    margin-left: -1px;
}

.input-group > .input-group-btn > .btn:hover,
.input-group > .input-group-btn > .btn:focus,
.input-group > .input-group-btn > .btn.active {
    z-index: 3;
}

.list-group-panel {
    background-color: @panel-bg;
}

.field .array-control-container {
    position: relative;
}

code {
    font-style: italic;
}

pre > code {
    font-style: normal;
}

.table-admin-panel tr > td:first-child {
    width: 200px;
}

.admin-tables-container > div {
    margin-bottom: 20px;
    .table-admin-panel {
        margin-bottom: 0;
    }
    > h4 {
        margin-top: 0;
    }
}

.list-nested-categories {
    margin-bottom: @padding-base-horizontal;
    .category-item {
        padding: @padding-base-horizontal;
        .folder-icon {
            margin-right: 3px;
            position: relative;
            top: -1px;
        }
    }
}

.categories-container {
    a.manage-categories-link {
        margin-left: 8px;
    }
    a.category-expanded-toggle-link {
        margin-left: 8px;
    }

    > .list > .list-group-tree > li {
        padding-left: 0;
    }
}

.folders-container > .list-group-side > .list-group-item,
.categories-container > .list-expanded,
.categories-container .list-group-tree > .list-group-item > .cell {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.admin-panel-iframe-container {
    > .section {
        padding: @padding-base-vertical @padding-base-horizontal;
        margin-bottom: @padding-base-vertical;
    }

    > .section:first-child > h4 {
        margin-top: 0;
    }

    height: 100%;
}

.sections-container {
    > .section {
        margin-bottom: 30px;
        > h5 {
            margin-top: 0;
        }
    }
    > .section:last-child {
        margin-bottom: 0;
    }
}

.note-editor .note-toolbar.sticked {
    z-index: 1;
    position: fixed;
    background-color: @white-color;
}

.array-add-list-group > li {
    vertical-align: middle;
    line-height: 32px;
}

@media screen and (min-width: @screen-sm-min) {
    #global-search-panel {
        margin-top: 5px;
    }
}

@media screen and (min-width: @screen-md-min) {
    .admin-content .admin-right-column {
        padding-top: 28px;
    }

    .col-md-12.hidden-cell {
        min-height: 0;
    }

}

@media screen and (min-width: @screen-sm-min) {
    .search-container .view-mode-switcher-buttons-group {
        float: right;
    }
}

@media screen and (max-width: (@screen-sm-min - 1px)) {
    #notifications-panel {
        position: fixed;
        width: 100%;
        top: 0;
        right: none;
        left: 0;
        margin-right: 10px;
    }

    #global-search-panel {
        position: fixed;
        width: 100%;
        top: 0;
        right: none;
        left: 0;
        margin-right: 10px;
    }

    #global-search-input {
        width: 100%;
    }

    .search-row .search-right-buttons-group {
        float: right;
    }

    .categories-container > .list {
        margin: @panel-padding 0;
    }

    .panel-body > div:first-child > .list:first-child {
        margin-top: 0;
    }

    .list > .table {
        .dropdown-menu {
            position: relative !important;
        }
        .pull-right.open > .btn {
            float: right;
        }
    }

    .calendar-container {
        .button-container > div:first-child{
            margin-bottom: 10px;
        }
        .date-title {
            margin-bottom: 10px;
            h4 {
                margin-top: 0;
            }
        }
    }

    #nav-menu-dropdown {
        width: 46px;
    }
}

a.field-info > span.fa-info-circle {
    font-size: 12px;
    position: relative;
    top: -1px;
}

.dropdown-menu-with-icons {
    li {
        a {
            padding-left: 10px;
        }
        .fas, .far, .glyphicon, .empty-icon {
            width: 16px;
            text-align: center;
            display: inline-block;
        }
        .item-text {
            padding-left: 8px;
            position: static;
        }
    }
}

.fas, .far {
    font-size: 16px;
}

.fas.fa-sm,
.far.fa-sm,
.btn-sm .fas,
.btn-sm .far,
.small .far,
.small .fas,
.fas.small,
.far.small {
    font-size: 12px;
}

.icon-is-replied {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;

    &::before {
        content: "\f064";
    }
}

.btn-icon {
    width: 36px;
    padding-left: 0;
    padding-right: 0;

    .fa, .fas {
        position: relative;
        width: 16px;
        text-align: center;
    }
    .fa-sm {
        top: -1px;
    }
}

.btn-icon.btn-sm {
    width: 34px;

    .fa, .fas {
        font-size: 12px;
        width: 12px;
    }
}

.btn > .fa-ellipsis-v {
    position: relative;
    top: 1px;
}

.btn.btn-icon-wide  {
    width: 54px;
}

.btn.btn-icon-x-wide  {
    width: 76px;
}

.btn-icon > .fa-chevron-left {
    left: -1px;
}

.grid-auto-fill-xs,
.grid-auto-fill-sm,
.grid-auto-fill-md {
    margin-left: ceil((@grid-gutter-width / -2));
    margin-right: floor((@grid-gutter-width / -2));
    &:extend(.clearfix all);
    > div {
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: ceil((@grid-gutter-width / 2));
        padding-right: floor((@grid-gutter-width / 2));
    }
}

.grid-auto-fill-xs {
    > div {
         width: 20%;
    }
}
.grid-auto-fill-sm {
    > div {
        width: 25%;
    }
}
.grid-auto-fill-md {
    > div {
        width: 50%;
    }
}

@media screen and (max-width: (@screen-md-min - 1px)) {
    .grid-auto-fill-xs {
        > div {
            width: 25%;
        }
    }
    .grid-auto-fill-sm {
        > div {
            width: 33.33333333333333%;
        }
    }
    .grid-auto-fill-md {
        > div {
            width: 50%;
        }
    }
}

@media screen and (max-width: (@screen-sm-min - 1px)) {
    .grid-auto-fill-xs {
        > div {
            width: 50%;
        }
    }
    .grid-auto-fill-sm,
    .grid-auto-fill-md {
        > div {
            width: 100%;
        }
    }
}

@supports (display: grid) {
    .grid-auto-fill-xs,
    .grid-auto-fill-sm,
    .grid-auto-fill-md {
        display: grid;
        grid-column-gap: @grid-gutter-width;
        margin-left: 0;
        margin-right: 0;
        > div {
            width: unset !important;
            padding-left: unset !important;
            padding-right: unset !important;
            min-height: unset !important;
            position: unset !important;
            float: unset !important;
        }
        &::before,
        &::after {
            display: none !important;
        }
    }
    .grid-auto-fill-xs {
        grid-template-columns: repeat(auto-fill, minmax(@grid-column-width-xsmall, 1fr));
    }
    .grid-auto-fill-sm {
        grid-template-columns: repeat(auto-fill, minmax(@grid-column-width-small, 1fr));
    }
    .grid-auto-fill-md {
        grid-template-columns: repeat(auto-fill, minmax(@grid-column-width-medium, 1fr));
    }
}