#navbar .navbar {
    .navbar-nav.navbar-right > .open {
        > a,
        > a:hover,
        > a:active,
        > a:focus {
            background-color: transparent;
            .box-shadow(inset 0 1px 5px rgba(0,0,0,.125));
        }
    }
    .box-shadow(none);

    .navbar-right {
        .box-shadow(none);
    }
}

@media screen and (min-width: @screen-sm-min) {
    #navbar .navbar {
        .navbar-right {
            background-color: @navbar-bg;
        }
    }
}

.btn-default > .fa,
.btn-default > .fas {
    color: @gray-soft;
}

.btn-default > .fa.text-muted,
.btn-default > .fas.text-muted {
    color: @gray-light;
}

.btn-default.disabled > .fa,
.btn-default.disabled > .fas {
    color: @gray-light;
}

.panel-heading {
    border-bottom-width: 0;
}

.panel-default.note-editor > .panel-heading .btn-default {
    background-color: @btn-default-bg !important;
    border-color: @btn-default-border !important;
}

.panel > .panel-heading > .btn-group > .btn {
    background-color: @panel-default-heading-bg;
    border-color: @panel-default-heading-bg;
}

.panel > .panel-heading .open .btn {
    border-color: transparent;
}

.panel > .panel-heading .btn-default {
    &:active,
    &.active {
        .box-shadow(none);
    }
}

.panel-title {
    font-size: 15px;
    line-height: 17px;
}

.modal-content {
    background-color: @white-color;
}

.dialog-record .modal-content > .modal-body {
    background-color: @body-bg;
}

.modal-body > .list-group {
    background-color: @white-color;
}

.list-container > .list {
    background-color: @white-color;
}

.panel-heading > .btn-group {
    top: -5px;
    right: -10px;
}

.panel-heading > .btn-group > .btn {
    padding-top: 4px;
    padding-bottom: 4px;
}

.note-editor > .panel-heading > .btn-group > .btn {
    padding-top: 5px;
    padding-bottom: 5px;
}

.panel.sticked > .panel-heading .btn-group {
    top: -4px;
}

table.table {
    background-color: @white-color;
}

.record .middle > .panel:first-child {
    border-top-width: 0;
}

.record .middle > .panel {
    border-top-width: 1px;
}

.dashlet-body .list-container > .list,
.panel-body .list-container > .list,
.dashlet-container > .panel,
.note-editor.panel {
    .box-shadow(none);
}


.list-container > .list,
.panel,
.dashlet-container,
.list-nested-categories,
#main > .calendar-container .calendar,
#main > .calendar-container .timeline,
.well,
.admin-content .table.table-bordered,
.admin-content iframe,
.list-kanban > div > table > thead,
.list-group-panel {
    .box-shadow(3px 3px 4px rgba(0,0,0,0.13));
}

.stick-sub.button-container {
    .box-shadow(none);
}

@media (min-width: @screen-sm-min) {
    .modal-dialog > .modal-content {
        .box-shadow(0 0px 15px rgba(0,0,0,0.35));
    }
}

.panel.sticked {
    border-top-width: 1px;
}

.list-container .list-buttons-container {
    margin-bottom: @padding-base-horizontal;
}

.calendar-container > .calendar,
.calendar-container > .timeline {
    background-color: @white-color;
}

.field .list-group {
    background-color: @white-color;
}

.field .grid-stack-item-content {
    border: 1px solid @default-border-color;
}

#login.panel > .panel-heading {
    margin: 0 !important;
}

#notifications-panel > .panel,
#global-search-panel > .panel {
    border-width: 1px;
}

.record .stick-sub.button-container {
    background-color: @navbar-bg !important;
    padding-bottom: 0;
}

.list-nested-categories {
    background-color: @panel-bg;
}

.admin-panel-iframe-container {
    background-color: @white-color;
}

.panel.dashlet > .panel-heading > .btn-group {
    margin-top: -6px;
}
