#navbar {
    .navbar-header {
        > a {
            color: @navbar-inverse-link-color;

            &:hover,
            &:focus {
                color: @navbar-inverse-link-hover-color;
                background-color: @navbar-inverse-link-hover-bg;
            }
        }
    }
}

.stick-sub {
    margin-top: @tob-bar-height;
}

.side-menu-backdrop {
    background-color: @modal-backdrop-bg;
    opacity: .5;
}

.alert {
    height: @tob-bar-height;
}

#global-search-input {
    border: 1px solid @top-navbar-bg-color;
    font-size: 13px;
    width: 200px;
}

@media screen and (min-width: @screen-sm-min) {
    #global-search-panel {
        margin-top: -1px;
    }
    .notifications-badge-container > .notifications-button > .number-badge {
        top: 3px;
        left: 22px;
    }
}
